@model DemoRobot.Models.robot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>robot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre del Robot
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_robot)
        </dd>

        <dt>
          Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_robot }) |
    @Html.ActionLink("Back to List", "Index")
</p>
